.pink-bg {
  background-color: #fbe1ec;
}

.full-height {
  height: 100vh;
}

.max-w-300 {
  max-width: 300px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
